/* ============ HEADER ============ */
.hidden {
  display: none;
}

header {
  background-color: #ffffff33;  
  margin: 25px;   /* Белая шапка */
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  transition: background 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  backdrop-filter: blur(15px) saturate(180%);
}

header:hover {
  background-color: #f1f3f4;
  box-shadow: 0 8px 16px rgba(60, 64, 67, 0.2);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  backdrop-filter: blur(15px) saturate(180%);
}

/* @keyframes shake {
  0% { transform: translateY(0); }
  20% { transform: translateY(-2px); }
  40% { transform: translateY(2px); }
  60% { transform: translateY(-2px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0); }
} */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header-menu {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.header-menu a {
  text-decoration: none;
  color: #202124;
  font-size: 25px;
  margin: 20px;
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #4285f4;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo img {
  height: 100px;
  padding: 10px; /* Reduced padding to prevent overflow */
  max-width: 100%; /* Ensures the image stays within its container */
  box-sizing: border-box; /* Includes padding in the element's total width/height */
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions .export-log-button {
  background: #4285f4;
  color: #c8c8c8;
  border-radius: 4px;
  padding: 10px 24px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.header-actions .export-log-button:hover {
  background: #1a4893d7;
  transform: translateY(-1px);
  color: whitesmoke;
}

/* Header buttons */
.header-actions .header-button {
  background: #4285f4;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.3s, transform 0.2s;
}

.header-actions .header-button:hover {
  background: #1a73e8;
  transform: translateY(-2px);
}

.header-logo.initial-size img {
  height: 40px;
  transition: all 0.5s ease-in-out;
}

/* Адаптация хедера после входа */
.logged-in-header {
  padding: 10px 20px;
}

.logged-in-header .header-container {
  justify-content: flex-start;
}

/* Filter modal */
#filter-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#filter-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  cursor: move; /* For dragging */
}

#filter-modal .modal-header h3 {
  margin: 0;
  font-size: 1.2rem;
}

#filter-modal .modal-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

#filter-modal .modal-body {
  padding: 20px;
}

#filter-modal .modal-body label {
  display: block;
  margin-bottom: 10px;
}

#filter-modal .modal-body select {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

#filter-modal .modal-body .big-button {
  width: 100%;
  padding: 10px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#filter-modal .modal-body .big-button:hover {
  background: #1a73e8;
}
